.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.title{
  font-weight: 600;
}

.subtitle {
  font-weight: normal;
}

.link {
  text-decoration: none;
  color: #2f80ed;
}

.logo {
  width: 228px;
  height: 32px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  margin: auto;
  padding: 0;
  background-color: #f2f2f2;
  position: relative;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 64px;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  z-index: 3;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 608px;
  width: 765px;
  z-index: 2;
}

.square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  margin: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 1;
}

.description {
  display: flex;
}

.description__two-columns {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  margin: 100px;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  min-height: 332px;
}

.main-text__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

span {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digits__title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0 0 20px 0;

}

.digits__subtitle {
  margin: auto;
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
}

.digits__table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  list-style-type: none;
  justify-content: space-between;
  margin: 0 0 100px 0;
  padding-left: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.cell__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0;
}

.cell__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 20px 0 0 0;
}

.feynman{
  height: 890px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.feynman__title {
  font-size: 120px;
  line-height: 1.15;
  width: 648px;
  text-align: center;
  margin: 100px 0 70px 0;
  z-index: 1;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  margin: 0 auto 0 auto;
  z-index: 1;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__background-feynman {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}

.kaufman{
  background-color: #1f1f1f;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: 1;
}

.kaufman__title_theme_dark {
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: 90px 0 20px 0;
  color: white;

}

.kaufman__subtitle_theme_dark {
  margin:0;
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  color: white;
}

.kaufman__table_theme_dark {
  flex-wrap: wrap;
  display: flex;
  width: 1100px;
  list-style-type: none;
  justify-content: space-between;
  margin: 0 0 90px 0;
  padding-left: 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0 0 20px 0;
  color: white;
}

.table__text_theme_dark {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 0 20px 0;
  color: white;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
}

.footer__columns {
  color: white;
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px auto;
}

.column__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 18px 0 18px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.column__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin: 0;
}

.column__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
}

.column_links__column-link {

  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
}

.column-link__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}